@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Serif:wght@700&display=swap');

* {
    margin:0px;
    padding:0px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    display:flex;
    min-height: 100vh;
}

/*Sidebar START*/

.sidebar {
    background-color:#0ea5e9;
    color:white;
    max-width:20vw; /*check this*/
    padding:10px 30px;
}

.sidebar--logo {
    display:flex;
    gap:1rem;
    font-size:1.4rem;
    align-items:center;
 }

.sidebar .sidebar--logo img {
    height:3rem;
}

.sidebar--secondarylinks,
.sidebar--mainlinks {
    margin-top:40px;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items:center;
    font-size:1.5rem;
    font-weight:500;
    margin-top:10px;
    margin-left:15px;
  }

.sidebar img {
    height:2rem;

}

/*Sidebar END*/

/*Header START*/
header {
    width:80vw;
}

.header--top,
.header--bottom {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 0;
}

.header--top--profile,
.header--bottom--welcomemessage,
.header--bottom--projectbuttons {
    display:flex;
    align-items:center;
    gap:30px;
    margin:0 30px;
}

header img {
    height:1.7rem;
}
header .usericon{
    height:3rem;
    border-radius:300px;
}

.header--bottom--welcomemessage p,
.header--top--profile p {
    font-weight:700;
}

.username {
    font-weight:700;
    font-size:1.5rem;
}

.header--top--search {
    display:flex;
    flex:1;
    gap:1.5rem;
    margin-left:30px;
}

.header--top--search--searchinput {
    flex:1;
    border-radius:30px;
    background-color: #cbd5e1;
    border:none;
}

.header--bottom--projectbuttons button {
    padding:10px;
    width:90px;
    background-color:#0ea5e9;
    border:0px;
    border-radius:100px;
    color:white;
    font-weight:500;
}

/*Header END*/

/*Main START*/

.content-container {
    display:flex;
    flex-direction:column;
    width:100%;
}

main {
    background-color: #cbd5e1;
    display:flex;
    flex:1;
}